{% extends 'base/base.html' %}
{% block title %}My Favourites{% endblock %}

{% block content %}
<div class="container">
    {% if fav_list %}
    <div class="row g-3 mb-5">
        {% for recipe in fav_list %}
        <div class="col-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="{{recipe.image.url}}" class="card-img-top" alt="..." width="286" height="259">
                <div class="card-body">
                    <h5 class="card-title">{{recipe.title}}</h5>
                    <a href="{% url 'recipes-detail' pk=recipe.pk %}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}