{% if recipes %}
    <div class="row g-3 mb-5">
        {% for recipe in recipes %}
            <div class="col-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="{{recipe.image.url}}" class="card-img-top" alt="..." width="286" height="259">
                    <div class="card-body">
                        <h5 class="card-title">{{recipe.title}}</h5>
                        <a href="{% url 'recipes-detail' pk=recipe.pk %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row g-3 mb-5">
        <h3 class="mx-auto">Looks like you don't have any Recipes yet. Want to <a href="{% url 'recipes-new' %}"> add one?</a></h3>
    </div>
    {% endif %}